<div class="admin_nav">
  <%= render :partial => 'admins/admin_nav' %>
</div>
<div class="admin_sidebar">
  <%= link_to "New Code Blog", new_code_blog_path %>
</div>
<div class="admin_form_wrap">
<h1>New Code Blog</h1>
<%= render :partial => 'form' %>
</div>
