<div class="cube_listing">
  <% svc.assets.each do |asset| %>
  <%= image_tag(asset.attachment.url(:thumb), :alt => svc.title) %>
  <% end %>
  
<div class="listing_title">
  <%=h svc.title %>
</div>

<div class="listing_content">
  <%= svc.content %>
</div>

</div>

