<div class="admin_nav">
  <%= render :partial => 'admins/admin_nav' %>
</div>
<div class="admin_sidebar">
  <%= link_to "Back", admin_service_path %>
</div>
<div class="admin_form_wrap">
<h3 class="admin_header">Edit Service</h3>
<%= render :partial => 'form' %>
</div>









