<% content_for :banner do  %>
  <%= image_tag "gears.png", :alt => "Cube2Media Designs" %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Our Solutions<br/>
    Your Success
    </h2>
    <ul>
      <li>Web Applications</li>
      <li>eCommerce Solutions</li>
      <li>SaaS Software Solutions</li>
      <li>Corporate Branding Solutions</li>
    </ul>
   
  </div>
  <div id="contact_nav" class="highlight">
    <%= link_to "contact the experts", "#", :id => "banner_contact" %>
  </div>
<% end %>

<% @services.each do |svc| %>
  <%= render :partial => 'services/service', :locals => {:svc => svc} %>
<% end %>

