<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Web Development - It's What We Do
  </div>
<% end %>

<% @services.each do |svc| %>
  <%= render :partial => 'services/service', :locals => {:svc => svc} %>
<% end %>

