<div class="admin_nav">
  <%= render :partial => 'admins/admin_nav' %>
</div>
<div class="admin_sidebar">
  <%= link_to "New Service", new_service_path %>
</div>
<div class="admin_form_wrap">
<h2>New Service</h2>

<%= render :partial => 'form' %>
</div>