<div class="admin_nav">
  <%= render :partial => 'admins/admin_nav' %>
</div>
<div class="admin_sidebar">
  <%= link_to "New Employee", new_employee_path %>
</div>
<div class="admin_form_wrap">
<h1>Editing employee</h1>
<%= render :partial => 'form' %>
</div>


