<% content_for :banner do  %>
  <%= image_tag "blog.png", :alt => "Cube2Media Designs" %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Collections &amp; Confessions</h2>
    <p>a personal look into the cube</p>
  </div>
  <div id="contact_nav" class="highlight">
    <%= link_to "contact the experts", "#", :id => "banner_contact" %>
  </div>
<% end %>
<% @blogs.each do |blog| %>
 <%= render :partial => 'blogs/blog_post', :locals => {:blog => blog}%>
 <% end %>
