<% content_for :title do %>
  Web design tutorials and tips
<% end %>
<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Who Left the Lights On? - Cube Confessions
  </div>

<% end %>
<% @blogs.each do |blog| %>
 <%= render :partial => 'blogs/blog_post', :locals => {:blog => blog}%>
 <% end %>
