<% content_for :title do %>
  Web design tutorials and tips
<% end %>
<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Knowledge - Think Ahead - Stay Ahead
    </h2>
  </div>
<% end %>



<% @blogs.each do |blog| %>
 <%= render :partial => 'blogs/blog_banner', :locals => {:blog => blog}%>
<% end %>

<% content_for :sub_boxes do  %>
	<%= render :partial => 'layouts/sub_boxes' %>
<% end %>



