html, body {
  position: relative;
  background: #fff url('../images/main_bg.png') repeat-x;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #333;
  font-size: 85%;
  height: 100%;
}
#mast_header, #mast_banner, #mast_main_content, #mast_sub_box, #mast_footer {
  position: relative;
  text-align: center;
  width: 100%;
}
#hd, #banner, #main_content, #sub_boxes, #ft {
  position: relative;
  margin: 0 auto;
  text-align: left;
  width: 940px;
}

a {
  color: #0000ff;
}
.hide_text {
  text-indent: -3000em;
}
.round {
  -webkit-border-radius: 3px; 
 	-moz-border-radius: 3px;
 	-opera-border-radius: 3px;
 	border-radius: 3px;
}
.round2 {
  -webkit-border-radius: 10px; 
 	-moz-border-radius: 10px;
 	-opera-border-radius: 10px;
 	border-radius: 10px;
}
.round_top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.round_top2 {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.round_bottom {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header_grey {
  color: #a5a5a5;
}
.header_white {
  color: #fefefe;
  text-shadow: 0px 2px 0px #000;
	
  }
h1, h2, h3, h4, h5 {
  color: #000;
  margin-top: 5px;
  font-family: impact, Arial;
  text-shadow: 0px 1px 0px #fff;
}
h1 {
  font-size: 235%;
}
h2 {
  /*font-size: 153.9%;*/
  font-size: 40px;
}
h3 {
  font-size: 160.5%;
}
h4 {
  font-size: 118%;
  margin-top: 10px;
}
h5 {
  
}
h6 {
  font-size: 110%;
  font-weight: bold;
  color: #000;
  margin-top: 5px;
  margin-bottom: 10px;
}
h3 a, h4 a {
  font-size: 100%;
  color: #19c0ec;
  text-decoration: none;
}
h3 a:hover, h4 a:hover{
  color: #00467f; /* DK BLUE */
  text-decoration: underline;
}
.c2_header {
  text-indent: -3000em;
  width: 440px;
  height: 65px;
}
p {
  margin: 5px 0px 0px;
  line-height: 16.35px;
}
.content_wrap {
  margin: 10px 0px;
}
.full_wrap {
  margin: 10px 10px;
}
.full_20_wrap {
	margin: 20px;
}
a.side_20_wrap {
  margin: 0px 20px;
}
.relative {
  position: relative;
}
.small_text {
  font-size: 77%;
}
h2 a.small_text {
  font-size: 55%;
}
.clear {
  clear: both;
}
.clear_left {
  clear: left;
}
.clear_right {
  clear: right;
}
.right {
  float: right;
}
.left {
  float: left;
}
.space_left {
  margin-left: 10px;
}
.space_right {
  margin-right: 10px;
}
.padding_top {
  padding-top: 20px;
}
.inline {
  display: inline;
}
.important {
  color: red;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.margin_left_offset {
  margin-left: -10px;
}
.border_top {
  border-top: 1px solid #efefef;
}
.border_bottom {
  border-bottom: 1px solid #666;
}
.dotted_bottom {
  padding-bottom: 10px;
  border-bottom: 1px dotted #999999;
}
/***Firefox dotted line tweak***/
a, button {
  outline: none;
}
:focus, button {
  -moz-outline-style: none;
}
a:active, button:active {
  outline: none;
}

/******************************************/
/*******************ERRORS*****************/
#flash {
  position: absolute;
  text-align: center;
  color: #fff;
	text-shadow: 0px 1px 0px #a70d0e;
	top: 0px;
  left: 36%;
  padding: 20px;
  width: 500px;
  background: #222;
  font-size: 175%;
  z-index: 100;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  position: relative;
  top: 0px;
  left: 0%;
  width: 100%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 125%;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/******JS Form Errors********/
input.error, textarea.error {
  border:2px solid #DB0404;
  margin:0px;
  padding:1px;
}
label.error {
  background:#FFFFFF none repeat scroll 0 0;
  color:#DB0404;
  font-size:85%;
  font-weight:bold;
  margin-left:10px;
  margin-top:2px;
  padding:0;
  position:absolute;
}
/*********************************************/
/*****************HEADER**********************/
#hd {
  height: 125px;
}
#logo {
  position: absolute;
  width: 226px;
  height: 220px;
  top: 34px;
  left: 22px;
  background: url('../images/logo.png') no-repeat;
  z-index: 10;
}
#main_header {
  position: relative;
  float: left;
  left: 153px;
  top: 9px;
  width: 216px;
  height: 41px;
  text-indent: -3000em;
  background: url('../images/c2header_text.png') no-repeat;
  
}
/*******Navigation********/
#main_nav {
  position: absolute;
  bottom: 60px;
  left: 440px;
  height: 40px;
  width: 500px;
  border: 1px solid #640102;
}
ul.nav_ul li {
  width: 100px;
  height: 40px;
  float: left;
  text-align: center;
}
ul.nav_ul li span.hover {
  position: relative;
  width: 100px;
  height: 40px;
  display: block;
}
.nav1 {
  background: url('../images/c2_main_nav.png') 0px -80px;
}
.nav1.highlight:hover, li.nav1 span.hover {
  background: url('../images/c2_main_nav.png') 0px 0px;
}
#main_nav ul li a#home.active {
  background: url('../images/c2_main_nav.png') 0px -40px;
}
.nav2 {
  background: url('../images/c2_main_nav.png') -100px -80px;
}
.nav2.highlight:hover, li.nav2 span.hover {
  background: url('../images/c2_main_nav.png') -100px 0px;
}
#main_nav ul li a#blog.active {
  background: url('../images/c2_main_nav.png') -100px -40px;
}
.nav3 {
  background: url('../images/c2_main_nav.png') -200px -80px;
}
.nav3.highlight:hover, li.nav3 span.hover {
  background: url('../images/c2_main_nav.png') -200px 0px;
}
#main_nav ul li a#services.active {
  background: url('../images/c2_main_nav.png') -200px -40px;
}
.nav4 {
  background: url('../images/c2_main_nav.png') -300px -80px;
}
.nav4.highlight:hover, li.nav4 span.hover {
  background: url('../images/c2_main_nav.png') -300px 0px;
}
#main_nav ul li a#clients.active {
  background: url('../images/c2_main_nav.png') -300px -40px;
}
.nav5 {
  background: url('../images/c2_main_nav.png') -400px -80px;
}
.nav5.highlight:hover, li.nav5 span.hover {
  background: url('../images/c2_main_nav.png') -400px 0px;
}
#main_nav ul li a#contact.active {
  background: url('../images/c2_main_nav.png') -400px -40px;
}
ul.nav_ul li a {
  text-decoration: none;
  display: block;
  text-indent: -3000em;
  width: 100%;
  height: 100%;
}
/*********************************************/
/*****************BANNER****************/
#mast_banner {
  background: url('../images/mast_banner_bg.png') center no-repeat;
  color: #fff;
}
#banner {
  position: relative;
  width: 940px;
  height: 375px;
  z-index: 0;
  background: url('../images/banner_bg.png') no-repeat;
}
#banner h2 {
  margin: 0px 0px 20px;
}
.banner_content {
  position: relative;
  width: 380px;
  margin: 0px 50px;
  top: 135px;
}
.banner_content ul {
  padding: 0px 10px;
}
.banner_content ul li {
  padding: 0px 0px 5px;
  font-size: 120%;
  list-style-type: disc;
  list-style: inside; 
}
#banner img {
  position: absolute;
  top: -30px;
  right: 0px;
}
#contact_nav {
  position: absolute;
  bottom: 12px;
  right: 32px;
  width: 330px;
  height: 60px;
  border-top: 1px solid #222;
  border-right: 1px solid #666;
  border-bottom: 1px solid #999;
  border-left: 1px solid #444;
  background: url('../images/contact_sprite.png') 0px -60px no-repeat;
}
#contact_nav a {
  display: block;
  width: 330px;
  height: 60px;
  text-indent: -3000em;
}
#contact_nav span.hover {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 330px;
  height: 60px;
}
#contact_nav.highlight:hover, #contact_nav span:hover {
   background: url('../images/contact_sprite.png') -1px -1px no-repeat;
   border-top: 1px solid #222;
   border-right: 1px solid #999;
   border-bottom: 1px solid #ccc;
   border-left: 1px solid #666;
}


/*********************************************/
/*****************MAIN CONTENT****************/
#mast_main_content {
  position: relative;
  background: url('../images/main_content_bg.png') repeat;
  min-height: 300px;
  padding: 20px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#main_content {
  position: relative;
  width: 938px;
  min-height: 300px;
  background: url('../images/main_inner.png') repeat;
  border-top: 2px solid #999;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #fefefe;
  margin: 0px auto;
  padding-bottom: 20px;
}
.cube_confessions {
  background: url('../images/c2_headers.png') 0px -130px no-repeat;
}
/**************************************************/
/******************CUBE LISTINGS******************/
.cube_listing {
  position: relative;
  float: left;
  width: 900px;
  padding: 20px;
}
.cube_listing img {
  padding: 10px;
  border: 2px solid #222;
  float: left;
  background: #fefefe;
  margin-right: 20px;
  margin-bottom: 20px;
}
.listing_title {
  position: relative;
  float: left;
  font-size: 40px;
  font-family: impact, Arial;
  color: #222;
  width: 670px;
  text-shadow: 0px 1px 0px #fefefe;
  padding: 0px 0px 5px;
}
.listing_sub_title {
  position: relative;
  float: left;
  font-size: 125%;
  font-style: italic;
  font-family: "Helvetica Neue LT", Arial, Helvetica, Geneva, sans-serif;
  width: 670px;
  color: #a70d0e;
  text-shadow: 0px 1px 0px #222;
  margin-bottom: 2px;
}
.cube_listing p {
  margin-bottom: 10px;
}
.listing_time {
  position: relative;
  float: left;
  font-size: 95%;
  font-style: italic;
  font-family: "Helvetica Neue LT", Arial, Helvetica, Geneva, sans-serif;
  width: 670px;
  color: #444;
  text-shadow: 0px 1px 0px #fff;
  margin-bottom: 10px;
}

/*********************************************/
/******************SUB BOXES******************/
#mast_sub_box {
  background: url('../images/sub_box_bg.jpg') center top no-repeat;
  color: #fff;
}
#sub_boxes {
   background: url('../images/inner_sub_boxes.png') repeat-y;
   padding-bottom: 20px;
   min-height: 260px;
   width: 960px;
}
.sub_box_left {
  position: relative;
  width: 340px;
  float: left;
  margin: 0px 20px;
}
.sub_box_right {
  position: relative;
  width: 540px;
  float: left;
  margin: 0px 20px;
}
.code_confessions {
  background: url('../images/c2_headers.png') 0px 0px no-repeat;
}
.the_founders {
  background: url('../images/c2_headers.png') 0px -65px no-repeat;
}
/*********************************************/
/******************ADMINS*********************/
.admin_login {
  margin-top: 90px;
  margin-left: 20px;
}
.admin_nav {
  position: relative;
  width: 700px;
  height: 25px;
  padding: 15px;
  float: right;
}
.admin_nav ul {
  position: relative;
  width: 600px;
  height: 25px;
  float: right;
}
.admin_nav ul li {
  position: relative;
  width: 100px;
  height: 25px;
  padding: 0px 5px;
  float: left;
}
.admin_nav ul li a {
  position: relative;
  display: block;
  width: 100px;
  height: 25px;
  color: #222;
  text-shadow: 0px 1px 0px #ccc;
}
.admin_nav ul li a:hover {
  color: #a70d0e;
}
.admin_sidebar {
  position: relative;
  width: 300px;
  min-height: 200px;
  margin-top: 50px;
  padding: 20px;
  float: left;
}
.admin_form_wrap {
  position: relative;
  float: left;
  width: 400px;
}
/*********************************************/
/******************FLASH**********************/
 
.flash_html {
	display:inline;
}
.flash_ajax {
	display: block;
	position:fixed;
	bottom:0px;
	width:100%;
	z-index:1003;
	color:#ccc;
	background-color:#000;
	padding:4px;
}


/*********************************************/
/******************BUTTONS********************/
.btn {
  background: #222 url('../images/gloss_button_blue.png') bottom left repeat-x;
  padding: 8px; 
  color: #fff;
  border: 1px solid #666; 
  text-decoration: none; 
  cursor: pointer; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 3px 10px 10px 0px;
  float: left;
}
.btn:hover {
	color: #fefefe;
  background: #a70d0e;
}
/*********************************************/
/******************FOOTER********************/
#mast_footer {
  position: relative;
  background: #222;
  height: 190px;
}
#ft {
  width: 940px;
  position: relative;
  height: 190px;
  background: url('../images/footer_bg.png') no-repeat;
}
.footer_logo {
  position: absolute;
  top: 26px;
  right: 65px;
  width: 220px;
  height: 95px;
  background: url('../images/c2_footer_logo.png') no-repeat;
  text-indent: -3000em;
}
.footer_contact {
  position: absolute;
  bottom: 16px;
  right: 78px;
  color: #999;
}
.footer_contact ul {
  margin-bottom: 5px;
}
.footer_nav {
	position: absolute;
	top: 8px;
	left: 5px;	
}
.login {
  position: absolute;
  top: 25px;
  right: 5px;
}
.login a {
  color: #333;
}
.footer_nav ul {
	float: left;
}
.footer_nav li {
	float: left;
	border-right: 1px solid #676767;	
}
.footer_nav li.last {
	border-right: none;	
}
.footer_nav li a {
	display: block;
	float: left;
	padding: 5px 10px;
	text-decoration: none;
	color: #dddddd;
	text-shadow: 0px 2px 0px #000;
}
.footer_nav li a:hover {
	text-decoration: underline;
	color: #a70d0e;
}
.copyright {
	position: absolute;
	right: 10px;
	top: 19px;
	color: #ddd;
}
.footer_contact_wrap {
  float: left;
  position: relative;
  left: 425px;
  top: 5px;
  text-align: center;
  color: #ddd;
}
.footer_contact_wrap a:link {
  color: #ddd;
  text-decoration: underline;
}
.footer_contact_wrap a:hover{
  color: #ffb800;
  text-decoration: underline;
}
/********************************************/
/**************CROSSFADE STYLES**************/
.cube_crossfade_wrap {
	position: relative;
	overflow: hidden;
}
.cube_crossfade_wrap ul li {
	position: absolute;
	top: 0;
	z-index: 0;
}
/********************************************/
/**************OVERLAY STYLES****************/

/*/* overlay size and background image */ 
div.overlay { 
 
    width:530px; 
    height:380px; 
 
    background-image:url(../images/overlay/apple.png); 
    display:none; 
    padding: 0 !important; 
} 
 
/* close button for overlay */ 
div.overlay div.close { 
    background:url(../images/overlay/apple-close.png) no-repeat; 
    position:absolute; 
    top:6px; 
    right:-5px; 
    width:35px; 
    height:35px; 
    cursor:pointer; 
} 
 
/* original size of the player */ 
#player, #player embed, #player object { 
	height:291px;
	left:12px;
	position:relative;
	top:12px;
	width:481px;
} 
 
/* absolute positioning of the player */ 
#player embed, #player object { 
    position:relative; 
 
    /* layer as the topmost element */ 
    z-index:10000; 
}*/

/* styling for elements inside overlay */ 
.details { 
    position:absolute; 
    top:15px; 
    right:15px; 
    font-size:11px; 
    color:#fff; 
    width:150px; 
} 
 
.details h3 { 
    color:#aba; 
    font-size:15px; 
    margin:0 0 -10px 0; 
}

