#banner {
  height: 90px;
  position: relative;
  text-align: center;
  width: 940px;
  z-index: 0;
}
.short_header {
  position: relative;
  float: right;
  top: 25px;
  right: 50px;
}
#sub_boxes {
	min-height: 105px;
}