

<div class="cube_listing_large">
	<div class="listing_title_large">
	  <%=h client.title %>
	</div>
  <% client.assets.each do |asset| %>
  <%= link_to (image_tag(asset.attachment.url(:medium), :alt => client.title),  client.url, :target => "_blank") %>
  <% end %>

	
	<div class="listing_content">
		<%= client.content %>
	</div>
	
	<div class="listing_content_link">
		<%= link_to "View Client Site", client.url, :target => "_blank" %>
	</div>
	






</div>