<div class="cube_listing_large">
  <% client.assets.each do |asset| %>
  <%= (image_tag(asset.attachment.url(:medium), :alt => client.title)) %>
  <% end %>

	
	<div class="listing_content_large">
		<%= client.content %>
	</div>
	
	<div class="listing_content_link">
<%= link_to "View Client", client.url, :target => "_blank" %>
	</div>


</div>