<div class="cube_listing_client">
  <% client.assets.each do |asset| %>
  <%= link_to (image_tag(asset.attachment.url(:small), :alt => client.title),  client_path(client)) %>
  <% end %>

	<h3>
    <%=h link_to client.title, client_path(client)%>
	</h3>






</div>