<div class="cube_listing_large">

  <%= image_tag(client.assets.last.attachment.url(:medium), :alt => client.title) %>
<% if current_admin %>
	<%= link_to "Edit Client", edit_client_path(client) %>
<% end %>


	
	<div class="listing_content_large">
		<%= client.content %>
	</div>
	
	<div class="listing_content_link">
<%= link_to "View Client", client.url, :target => "_blank" %>
	</div>


</div>