<% if client.css %>
	<p>CSS</p>
<% end %>

<% if client.php %>
	<p>PHP</p>
<% end %>

<% if client.ruby %>
	<p>Ruby</p>
<% end %>

<% if client.html %>
	<p>HTML</p>
<% end %>

<% if client.sql %>
	<p>SQL</p>
<% end %>

<% if client.flash %>
	<p>Flash</p>
<% end %>

<% if client.wordpress %>
	<p>Wordpress</p>
<% end %>

<% if client.javascript %>
	<p>Javascript</p>
<% end %>

<% if client.rails_framework %>
	<p>Rails Framework</p>
<% end %>