<ul>
	<% if client.css %>
		<li>
			CSS
		</li>
	<% end %>
	<% if client.php %>
		<li>
			PHP
		</li>
	<% end %>
	<% if client.ruby %>
		<li>
			Ruby
		</li>
	<% end %>
	<% if client.html %>	
		<li>
			HTML
		</li>
	<% end %>
	<% if client.sql %>
		<li>
			SQL
		</li>
	<% end %>
	<% if client.flash %>
		<li>
			Flash
		</li>
	<% end %>
	<% if client.wordpress %>
		<li>
			Wordpress
		</li>	
	<% end %>
	<% if client.javascript %>
		<li>
			Javascript
		</li>
	<% end %>
	<% if client.rails_framework %>
		<li>
			Rails Framework
		</li>
	<% end %>
</ul>