<% if client.web_application %>
	<p>Web Application</p>
<% end %>

<% if client.ecommerce %>
	<p>Ecommerce</p>
<% end %>

<% if client.content_management %>
	<p>Content Management</p>
<% end %>

<% if client.web_design %>
	<p>Web Design</p>
<% end %>