<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    <%= @client.title %>
    </h2>
  </div>
<% end %>

<%= render :partial => 'clients/client_view', :locals => {:client => @client} %>

<% content_for :sub_boxes do  %>
	<%= render :partial => 'layouts/sub_boxes' %>
<% end %>