<h4 class="c2_header code_confessions">
  bits and pieces
</h4>
<p class="about_us">Cube2Media stands alone in our approach to web development in all aspects.  We are based in Las Vegas Nevada with a satellite  office in Salt Lake City Utah and we serve clients worldwide.  Our projects all remain in the Cube where we have a talented core team that provides project consultation, one-on-one project management, concept creation, mock-ups, and extensive programming.
</p>
<p class="about_us">While working with Cube2Media, you can rest assured that your project is being treated with the utmost discretion, professionalism and care.  We will never cut corners and jeopardize the quality of service we deliver.  We have a proven track record to back up our services world wide.
</p>