<div id="sub_page">
			<h3>Companies across the globe hire Cube2Media to develop and implement one-of-a-kind complex cloud based applications.  We deliver both high-performance custom web applications and turnkey solutions form maximum business efficiency.</h3>
			<p class="text">Cube2Media has database experience ranging from small database development to large enterprise systems. Based upon your unique business needs, we will recommend the database with the best price/performance accommodating your specific wants and needs.</p>
			<p class="text">Cube2Media will build databases in phases, from entry-level databases to complex data structures that can be scaled as your company grows. Whichever platform you choose, we will design the data structures for optimum system performance and data integrity.</p>
			<h4>Cube2Media's Six Step Approach to Web Application Development</h4>
			<ul>
				<li class="app_list">
					Step 1.  Strategize and Define
				</li>
				<li class="sub_text">
					This phase begins with our initial contact and ends with a formal quote stating the scope of services. We listen actively to your ideas, establish a clear understanding of the project, and strategize to determine business objectives and your agenda for the website.
				</li>
				<li class="app_list">
					Step 2.  Plan and Produce
				</li>
				<li class="sub_text">
					This phase commences with full exploration of your ideas and then produces a detailed wire frame and proto-site, and ends with design and coding to finish up the project development.
				</li>
				<li class="app_list">
					Step 3.  Content and Refine
				</li>
				<li class="sub_text">
					This phase consists of implementation of your web content and polishing the design. Alpha and Beta releases are presented to you. Refinements and adjustments are made during this stage.
				</li>
				<li class="app_list">
					Step 4.  Test and Assure Quality
				</li>
				<li class="sub_text">
					We test to ensure all codes are free of error, broken links or other mistakes. Furthermore, the site is tested to ensure compatibility with major search engines. 
				</li>
				<li class="app_list">
					Step 5.  Deploy and Verify
				</li>
				<li class="sub_text">
					This phase ends with your site ready for launch. We deploy your site to your preferred hosting server and transfer the live site from the Cube2Media server to your server. The final site is verified prior to "go live" to ensure full functionality.
				</li>
				<li class="app_list">
					Step 6.  Train, Track and Adjust
				</li>
				<li class="sub_text">
					This phase ends with client training. We are still involved in minor adjustments to ensure that you and your users are completely satisfied. 
				</li>
			</ul>
			<h4>Cube2Media Customized Applications</h4>
			<p class="text">
				Our customized web solutions encompass a variety of business operations that take full advantage of the efficiency of internet-based application and server technologies bringing you the most up to date processes available today. 
			</p>
			<p class="text">
				For your corporate or enterprise, we customize a web-based application  system integrated with your website. Our in-depth experience enables us to rapidly understand your business objectives and identify the optimal strategy to achieve each goal.
			</p>
			<p class="text">
				Our custom web development practice blends the expertise of our staff in open source to deliver state-of-the-art custom interactive solutions for you and your business so you can be assured your business presentation is cutting edge and optimized to compete in todays web world.
			</p>
			<div id="sub_page_app_images">
				<% @clients.each do |client| %>
			  	<%= image_tag(client.assets.last.attachment.url(:small), :alt => client.title) %>
				<% end %>
			</div>
</div>