<div id="sub_page">
			<h3>Designing a successful web presence for your company is more than just a flashy design.  Research, Branding and competitive marketing analysis all take a hand in your companies success.  When you hire the Cube2Media Team, you get all of this and more.</h3>
			<p class="text">Cube2Media is a global design and internet marketing firm.  We are a top rated web development company who offer scalable web based services to companies of all size.  Don't let the size of your company or the size of your budget determine your online success.  We give each and every client the same professionalism and marketing expertise whether you have two employees or two thousand.</p>
			<p class="text">Cube2Media has designed all types of websites for Retail Stores, Medical Facilities, Real Estate Firms, Finance and many others.  Our company has no limitations when it comes to understanding and implementing our knowledge to designing your companies online presence as well.  We take all of our design and marketing expertise in the your specialize field and implement your brand and information to help your business grow into a company to be contended with by your competitors</p>
			<h4>Cube2Media's Approach to Successful Web Development</h4>
			<ul>
				<li class="app_list">
					Your Company Analysis
				</li>
				<li class="sub_text">
					Our marketing expertise will research key points of your business and develop an online strategy to help make your company a leading contender and develop a successful strategic business plan.
				</li>
				<li class="app_list">
					Intricate Design
				</li>
				<li class="sub_text">
					Our design team will define the core of your business characteristics and develop a site designed around your company that will fit your needs perfectly.
				</li>
				<li class="app_list">
					Dynamic Content Management
				</li>
				<li class="sub_text">
					We will develop a dynamically driven backend interface which will make managing and updating your sites content easier than ever before.  This will help you in keeping your online content fresh and up to date.
				</li>
				<li class="app_list">
					Quality and Testing
				</li>
				<li class="sub_text">
					We test to ensure all codes are free of error, broken links or other mistakes. Furthermore, the site is tested to ensure compatibility with major search engines. Your satisfaction is our key goal before your site is taken online. 
				</li>
				<li class="app_list">
					Your Company Promotion
				</li>
				<li class="sub_text">
					We offer search engine submission to get you off the ground running out of the gate.  We can also offer email marketing options and social networking implementation to help boost your website traffic.
				</li>
				<li class="app_list">
					SEO Compliant Code
				</li>
				<li class="sub_text">
					We provide SEO compliant code for the top search engines.  Our proven design strategies will help your companies natural search engine success. 
				</li>
				<li class="app_list">
					Logo and Branding Design
				</li>
				<li class="sub_text">
					Cube2Media uses the most current design software and our years of company branding expertise to design a logo and online brand that is as individualistic as you are. 
				</li>
				<li class="app_list">
					Website Maintenance
				</li>
				<li class="sub_text">
					We offer our customer website maintenance services if you find you don't have the time to manage your online content.  We do our research and implement our expertise along with your requests for changes. 
				</li>
				<li class="app_list">
					Website Hosting
				</li>
				<li class="sub_text">
					If you need hosting, Cube2Media offers a few different plans dependent on your needs.  From shared hosting, virtual cloud hosting and dynamic scalable hosting plans, we will find the most economical and streamlined solutions for your web site, online store or web application. 
				</li>
			</ul>
			<h4>Why Choose Cube2Media?</h4>
			<ul>
			<li class="app_list">
				One of the most important aspects of a successful design is to provide our customers with the ability to dominate the global marketplace.  Our designs set us on a different playing field from our competitors. 
			</li>
			<li class="app_list">
				We understand the foundations required for business success.  We know it takes a solid design and integrated branding for a company to succeed in the web marketplace.
			</li>
			<li class="app_list">
				Our team can handle any level of web development you may be looking for.  Whether you are looking for a simple website, ecommerce online store, or full dynamic web applications, Cube2Media can handle the task at hand.  You will be
			</li>
			</ul>
			<div id="sub_page_design_images">
				<% @clients.each do |client| %>
			  	<%= image_tag(client.assets.last.attachment.url(:small), :alt => client.title) %>
				<% end %>
			</div>
</div>