<div id="sub_page">
			<h3>Building an online products store provides increased brand recognition and the ability to generate revenue around the clock.</h3>
			<p class="text">Want to sell your products or services online? E-commerce solutions are sometimes complex and must be comprehensive enough to manage your online store with efficiency and ease of use. Cube2Media has the ability to streamline your online store so that integrating it into your business will be as simple as possible. Managing your customized online store will be a breeze after we set up a store that satisfies all your e-commerce needs. Your online store  will be an easy to use, fully functional tool that will empower your business and alleviate the burdens associated with doing business online.</p>
			<p class="text">Cube2Media ecommerce solutions offer you a simple way to setup and customize an unlimited amount of products and categories, manage inventory, observe customer buying behavior and identify ways to develop and implement marketing programs based upon your customer's buying habits. Setting up a shopping cart  for your store is a piece of cake; our e-commerce solutions will be the key to your online store's success.</p>
			<h4>Cube2Media's Ecommerce Solutions Options:</h4>
			<ul>
				<li class="ecommerce_list">
					A Shopping Cart
				</li>
				<li class="ecommerce_list">
					Online Inventory Management
				</li>
				<li class="ecommerce_list">
					Online pricing management
				</li>
				<li class="ecommerce_list">
					Real time credit card processing integration interface.
				</li>
				<li class="ecommerce_list">
					Invoicing
				</li>
				<li class="ecommerce_list">
					Order Tracking
				</li>
				<li class="ecommerce_list">
					User Registration Management
				</li>
				<li class="ecommerce_list">
					Standalone page support
				</li>
				<li class="ecommerce_list">
					Newsletter Management
				</li>
				<li class="ecommerce_list">
					Email Order Confirmations
				</li>
				<li class="ecommerce_list">
					Currency Rate Exchange
				</li>
			</ul>
			<h4>Cube2Media Customized Ecommerce Solutions</h4>
			<p class="text">
				Cube2Media can deploy your online shopping ecommerce system very quickly to your server location or ours so you can be selling on the internet in no time. Bottom line if your company offers goods and services for sale and you are not selling on the internet, you are missing out on the opportunity of global sales.</p>
			<div id="sub_page_ecommerce_images">
				<% @clients.each do |client| %>
			  	<%= image_tag(client.assets.last.attachment.url(:small), :alt => client.title) %>
				<% end %>
			</div>
</div>