<div id="front_page" class="full_row bottom_hr">
	<ul>
		<li class="column_3">
			<h3>Cloud Based Applications</h3>
			<p>Cube2Media focuses on brand development and ease of use designs, while providing the highest level of internet visibility. We gather a profound understanding of our client's project, then our application design team generates creative and intricate project ideas for the client, in turn integrates those ideas with the clients vision to bring their concept to life.</p>
			<%= link_to "Learn more about cloud based applications->", apps_path, :alt => "Cloud Based Web Application Development" %>
		</li>
		<li class="column_3">
		  <h3>E-Commerce Solutions</h3>
		  <p>Cube2Media's web development team implements new and cutting-edge software technologies into your project design. As experts in building and deploying complex e-commerce solutions, we create scalable, effective and easy to use online shopping applications. Whether your company sells five or 5,000 products, we have a solution sure to meet your requirements.</p>
			<%= link_to "Learn more about e-commerce solutions->", ecommerce_path, :alt => "Online E-commerce Shopping Development Solutions" %>
		</li>
		<li class="column_3">
			<h3>Web Design &#38; Branding</h3>
			<p>Cube2Media is a professional design firm which puts our expertise to work to help our clients achieve online marketing success. Our team will keep your company well ahead of your competition with unique one-of-a-kind designs, search engine optimized code, as well as intricate logo and company branding services. Put our knowledge and experience to work for you.</p>
		 <%= link_to "Learn more about web design and branding->", design_path, :alt => "Web Design, Logo and Business Branding Solutions" %>
		</li>
	</ul>
</div>

