<div id="front_page">
	<ul>
		<li>
			<h3>Cloud Based Applications</h3>
			<p>Cube2Media focuses on brand development and site-use sophistication. We provide the highest level of internet visibility. With a firm understanding of the client's vision, our onsite creative web design teams fearlessly present bold and creative ideas and then bring those ideas to vivid internet life.</p>
			<%= link_to "Learn More->", services_path %>
		</li>
		<li>
		  <h3>Ecommerce Solutions</h3>
		  <p>Cube2Media's web development experts inject new flow and efficiency into your daily site operation routine. As experts in complex corporate / enterprise web development and sophisticated portal site development, we build robust, flexible, scalable and effective web applications.</p>
			<%= link_to "Learn More->", services_path %>
		</li>
		<li>
			<h3>Web Design &#38; Branding</h3>
			<p>Cube2Media is your conduit to Internet marketing success. We keep the client well ahead of the competition. Providing Internet marketing services including search engine optimization, pay-per-click management, email campaign management, web publicity and banner ads. </p>
		 <%= link_to "Learn More->", services_path %>
		</li>
	</ul>
</div>

