<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
      We Do It All And We Do It Well
    </h2>
  </div>
<% end %>

	<%= render :partial => 'home/about_banner' %>

<% content_for :sub_boxes do %>
	<%= render :partial => 'layouts/sub_boxes' %>
<% end %>