<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Domain Name Management
    </h2>
  </div>
<% end %>

<div class="full_row top_hr bottom_hr">
	<div class="tech_icon">
		<%= image_tag("../images/tech_icons/domains.png") %>
		<h4>What is in a domain name?  Everything.</h4>
		<p>
			Your domain name is your online branding and identity.  Like anything or anyone that is a representative of your business, your domain name is an important mark in completing the company branding and namespace association. It is important to make sure that you don't let your domain names expire or get lost.  When domains expire, they can wreak havoc and disrupt your daily business or even jeopardize the solidity of your business model.  Protecting your domain name helps prevent your companies online identity from being compromised.  We can transfer your domains into our control panel, where we keep them renewed and private is you choose.  <%= link_to "Contact Cube2Media", contact_us_path, :class => "about_us", :alt => "Cube2Media Domain Management Services" %> Today and let us help make your online presence a secure one.
		</p>
	</div>
</div>

<% content_for :sub_boxes do  %>
	<%= render :partial => 'layouts/sub_boxes' %>
<% end %>