<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    eCommerce Solutions - Your Ideas, Your Store.
    </h2>
  </div>
<% end %>

	 <%= render :partial => 'ecommerce_banner' %>

<% content_for :sub_boxes do  %>
	<%= render :partial => 'layouts/sub_boxes' %>
<% end %>