<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Ecommerce Solutions - Advance Your Business.
    </h2>
  </div>
<% end %>

	  <%= render :partial => 'index_banner' %>


<% content_for :sub_boxes do %>
  <div class="sub_box_left">
    <%= render :partial => 'about_us' %>
  </div>

  <div class="sub_box_right">
    <h4 class="c2_header the_founders">
      The Founders
    </h4>
		<%= render :partial => 'quote_request' %>
  </div>
<% end %>