<div class="beg_home">
  <%= image_tag('cc2c.png') %>
  <h3>
  When your just too busy with everyone else's stuff to build our own!
  </h3>
    <h4>You can always reach us here for now!</h4>
    <%= link_to "support@cube2media.com", "mailto:support@cube2media.com" %>  
</div>
