<% content_for :banner do  %>
  <div class="banner_content">
    <h2 class="banner_text header_white">
    Web Solutions You Can Count On.
    </h2>
  </div>
<% end %>

<%= render :partial => 'home/index_banner' %>
	
<div id="sites" class="top_hr bottom_hr">
	<% @clients.each do |client| %>
	 <% client.assets.each do |asset| %>
  	<%= (image_tag(asset.attachment.url(:small), :alt => client.title)) %>
   <% end %>
 <% end %>
</div>

<%= render :partial => 'home/big_quote_button' %>

<% content_for :sub_boxes do %>

<% end %>
