<% page_title("Thank You ") %>
<div class="contact_form full_20_wrap">
  <div class="project_responder">
    <h2 class="">Thank You</h2>
    <p>
      Thank you <span class="bold"><%= @form[:contact_first_name] %> <%= @form[:contact_last_name] %></span> for your contacting Cube2Media.<br /> An associate will be in touch with your shortly.
    </p>
  </div>
</div>

<% content_for :sub_boxes do  %>
	<%= render :partial => 'layouts/sub_boxes' %>
<% end %>
