<% page_title("Thank You ") %>
<div class="contact_form full_20_wrap">
  <h2 class="">Thank You</h2>
  <p><%= @form[:contact_first_name] %> <%= @form[:contact_last_name] %> Thank you for your submission. Someone from Cube2Media will respond to your submission shortly</p>
</div>