<% page_title("Thank You ") %>
<div class="contact_form full_20_wrap">
  <div class="project_responder">
    <h2 class="">Thank You</h2>
    <p>
      Thank you <span class="bold"><%= @project_form[:project_first_name] %> <%= @project_form[:project_last_name] %></span>, for your project quotation request.<br /> 
    An associate from Cube2Media will look over your project specifics and get in touch with you shortly.
    </p>
  </div>
</div>

<% content_for :sub_boxes do  %>
	<%= render :partial => 'layouts/sub_boxes' %>
<% end %>