<% page_title("Thank You ") %>
<div class="contact_form full_20_wrap">
  <h2 class="">Thank You</h2>
  <p><%= @project_form[:project_full_name] %>Thank you for your project worksheet. 
    Someone from Cube2Media will respond to your submission shortly</p>
</div>