<%= render :partial => 'layouts/footer_nav' %>
<div class="footer_logo">
  Cube2Media
</div>
<div class="footer_contact">
  <ul>
    <li>Salt Lake City Office</li>
    <li>801.381.4974</li>
    <li>slc@cube2media.com</li>
  </ul>
  <ul>
    <li>Las Vegas Office</li>
    <li>702.835.2823</li>
    <li>lv@cube2media.com</li>
  </ul>
</div>
<div class="login"><%= link_to "2", admin_login_path %></div>