<%= render :partial => 'layouts/footer_nav' %>
<div class="twitter_link">
  <%= link_to "<h4>Follow Us On Twitter</h4>", "http://twitter.com/devengine" %>
  <div id="twitter_feed" class="tweet">
    </div>
</div>
<h3 class="footer_logo">
  Cube2Media
</h3>
<div class="footer_contact">
  <ul>
    <li>Salt Lake City Office</li>
    <li>801.381.4974</li>
    <li>sales@cube2media.com</li>
  </ul>
  <ul>
    <li>Las Vegas Office</li>
    <li>702.835.2823</li>
    <li>support@cube2media.com</li>
  </ul>
</div>
<div class="login">
  <% if current_admin %>
  <%= link_to "2", admin_logout_path %>
  <% else %>
  <%= link_to "2", admin_login_path %>
  <% end %>
  </div>