<div class="social">
    <%= link_to "<h4>Like Us On Facebook</h4>", "http://www.facebook.com/pages/Cube2Media/349094344843", :target => "_blank" %>
  <%= link_to image_tag("../images/facebook_like.png"), "http://www.facebook.com/pages/Cube2Media/349094344843", :target => "_blank" %>
</div>